* {
  scrollbar-color: rgba(0, 0, 0, 0.2) hsla(0, 0%, 100%, 0.459);
  scrollbar-width: thin;
  outline: none;
}
@for $i from 1 to 100 {
  .font-#{$i} {
    font-size: #{$i}px !important;
  }
}
.fade-enter-active {
  transition: opacity 0.9s;
}
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.rounded-circle {
  border-radius: 50% !important;
}

.Vue-Toastification__toast--error {
  background-color: $danger;
}
.Vue-Toastification__toast--success {
  background-color: $success;
}
.Vue-Toastification__close-button {
  opacity: 1;
}
.swal2-confirm {
  background-color: $success !important;
}
.swal2-cancel {
  background-color: $danger !important;
}

.tox.tox-tinymce{
  *{
    direction: rtl;
    text-align: right;
  }
  .tox-notifications-container,
  .tox-notification,
  .tox-notification--in,
  .tox-notification--warning {
    display: none !important;
  }  
}
.white-space-pre {
  white-space: pre;
}

@import "./root";
@import "./header";
@import "./sidebar";
@import "./education";
@import "./list-news";
@import "./create-news";
@import "./update-news";
@import "./template-create-news";
@import "./file-manager-group";
@import "./file-manager-list";
@import "./file-manager-file";
@import "./faq";
@import "./authentication";
